@*// Blazor Server 데모*@
@page "/techpage"
@using DotNetNote.Models
@inject  ITechRepositoryEf _repository

<h1>기술 리스트</h1>

<h2>출력</h2>
@if (teches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tech in teches)
            {
                <tr onclick="@(() => Details(tech.Id))">
                    <td>@tech.Id</td>
                    <td>@tech.Title</td>
                </tr>
                }
            </tbody>
    </table>
}

@if (teches != null)
{
    <h3>입력</h3>
    <div>
        기술명: <input type="text" bind="@txtTitle" class="form-control"
                    style="width: 200px; display: inline;" />
        @if (formType != BoardWriteFormType.Modify)
        {
            <input type="button" name="btnSave" value="저장" class="btn btn-primary" onclick="@Add" />
        }
        @if (formType == BoardWriteFormType.Modify)
        {
            <input type="button" name="btnUpdate" value="수정"
                   class="btn btn-primary" onclick="@Update" />
            <input type="button" name="btnUpdate" value="삭제"
                   class="btn btn-primary" onclick="@Delete" />
        }
    </div>
}

@functions {
    private BoardWriteFormType formType = BoardWriteFormType.None;
}

@functions {
    private string txtTitle;

    protected async Task Add()
    {
        formType = BoardWriteFormType.Write;

        Tech t = new Tech() { Title = txtTitle };

        await _repository.PostTechAsync(t);

        await OnInitAsync();

        txtTitle = "";
    }
}

@functions {
    private IEnumerable<Tech> teches;

    protected override async Task OnInitAsync()
    {
        formType = BoardWriteFormType.None;

        teches = await _repository.GetTechesAsync();        
    }
}

@functions {
    private int techId;

    protected async Task Update()
    {
        formType = BoardWriteFormType.Modify;

        Tech t = new Tech { Id = techId, Title = txtTitle };

        await _repository.PutTechAsync(techId, t);

        await OnInitAsync();

        txtTitle = "";
    }
}

@functions {
    protected async Task Delete()
    {
        formType = BoardWriteFormType.Modify;

        await _repository.DeleteTechAsync(techId);

        txtTitle = "";

        await OnInitAsync();
    }
}

@functions {
    public Tech tech { get; set; }
    protected async Task Details(int id)
    {
        formType = BoardWriteFormType.Modify;

        tech = await _repository.GetTechAsync(id);

        techId = tech.Id;
        txtTitle = tech.Title;
    }
}
